*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.sub-title-stick{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 100px;
}
.sub-title-stick:before{
    display: block;
    content: '';
    width: 3px;
    height: 50px;
    background: #464646;
    margin:auto;
    margin-bottom: 25px;
}
.container{
    width: 1110px;
    margin:auto;

}