*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.sub-title{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: rgb(51,51,51);
    text-align: center;
}
.container{
    width: 1110px;
    margin: auto;
}